<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Piramida3000Entities" connectionString="metadata=res://*/Piramida.Piramida3000.csdl|res://*/Piramida.Piramida3000.ssdl|res://*/Piramida.Piramida3000.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sr-votges-int\sqlexpress;initial catalog=Piramida3000;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="eds">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport  maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://10.7.224.2:43080/" binding="customBinding"
        bindingConfiguration="eds" contract="EDSService.edsPortType"
        name="eds" />
    </client>
  </system.serviceModel>
</configuration>
