<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Windows.Controls" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.0.5.0" newVersion="5.0.5.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ServiceModel.Web.Extensions" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.0.5.0" newVersion="5.0.5.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ComponentModel.DataAnnotations" publicKeyToken="DDD0DA4D3E678217" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.0.5.0" newVersion="5.0.5.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
